google-generativeai
langchain-google-genai

chromadb

fastapi
uvicorn

langchain
langchain-core
langchain-text-splitters
langsmith

python-dotenv
python-multipart
pydantic
SQLAlchemy
requests
httpx
tenacity
numpy
orjson
tqdm
PyYAML
streamlit

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-propagator-b3
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asgi
opentelemetry-semantic-conventions
opentelemetry-util-http
PyMuPDF

# Testing dependencies
pytest>=7.4.0
pytest-html>=3.2.0
pytest-asyncio>=0.21.0
